#content {
    position: relative;
    min-width: 300px;
    min-height: 300px;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    padding: 5px;
    margin: 2px;
}

.pane {
    position: relative;
    min-width: 40px;
    min-height: 100px;
    width: 48%;
    height: 100%;
    border: 1px solid red;
    margin: 4px;
    float: left;

    font-family: "Times New Roman", Times, serif;
    font-size: 1.175em;
}

.result-pane {
    white-space: pre-wrap;
}


